<div class="container-fluid col-md-10">
    <h6 class="h6">
        <span>当前位置:首页 > </span><span>社区养老 > </span><span>离休退休</span>
    </h6>
    <div class="birthday">
        <div class="col-sm-1">
            <p class="cake"><i class="iconfont icon-cake"></i></p>
        </div>
        <div class="col-sm-11 bot">
            <h3>社区生日会</h3>
            <p>提供社区五保供养申请的办理指南、注意事项、办理机构等相关服务</p>
        </div>
    </div>
    <div class="tiao"></div>
    <ul class="list col-sm-12">
        <li class=" col-md-1" role="presentation" ui-sref-active="write" ui-sref="group.introduce">活动介绍</li>
        <li class=" col-md-1" role="presentation" ui-sref-active="write" ui-sref="group.sees">查看活动</li>
        <li class=" col-md-1" role="presentation" ui-sref-active="write" ui-sref="group.summary">活动总结</li>
    </ul>
    <ui-view></ui-view>
</div>