<div class="container-fluid wff col-md-10">
    <div class="tab-content">
        <label class="txt col-sm-12" id="info">
            <input type="text" class="col-sm-10" placeholder="基本信息">
        </label>
        <ul>
            <li>责任人:张鑫 13070162187</li>
            <li>责任单位:南风里居委会</li>
        </ul>
        <label for="txt" class="txt col-sm-12 mar" id="name">
            <input type="text" id="txt" class="col-sm-12" placeholder="请输入栏目名称">
        </label>
        <input-file></input-file>
        <label class="txt col-sm-12" id="resident">
            <input type="text" class="col-sm-12" placeholder="发表评论">
        </label>
        <ol class="olist">
            <li class="col-sm-12"><p class="col-sm-9">李大爷:这个活动举办的非常好</p><span class="col-sm-2">2017年4月26日</span><span class="col-sm-1">回复</span></li>
            <li class="col-sm-12"><p class="col-sm-9">王大爷:居委会为了居民真是煞费苦心了谢谢这些社区工作者</p><span class="col-sm-2">2017年4月26日</span><span class="col-sm-1">回复</span></li>
            <li class="col-sm-12"><p class="col-sm-9">张大爷:考试了飞机开始大佛ID减肥的能看</p><span class="col-sm-2">2017年4月26日</span><span class="col-sm-1">回复</span></li>
            <li class="col-sm-12"><p class="col-sm-9">王奶奶:就扣分撒什么方式导乐分娩</p><span class="col-sm-2">2017年4月26日</span><span class="col-sm-1">回复</span></li>
        </ol>
        <div class="reply"></div>
        <p class="col-sm-2 btn-parent"><button class="btn">发送</button></p>
    </div>

</div>
<div class="col-md-2">
    <nav id="navbar-example2" class="navbar nav-side">
        <div class="timeline-wrap clearfix">
            <span class="circle top"></span>
            <span class="circle bottom"></span>
            <ul class="nav navbar-nav time-line">
                <li class=""><a href="#info">基本信息</a></li>
                <li class="active"><a href="#name">请输入栏目名称</a></li>
                <li class="dropdown"><a href="#resident">居民预约</a></li>
            </ul>
        </div>

    </nav>
</div>