<div class="container-fluid wff">

    <div class="tab-content">
        <label class="txt col-sm-12">
            <input type="text" class="col-sm-10" placeholder="基本信息">
            <p class="col-sm-2"><button class="btn">返回</button></p>
        </label>
        <ul>
            <li>活动名称:春暖花开4月生日会</li>
            <li>活动时间:2017年11月12日</li>
            <li>地址:南风里小区3号号楼 4门 301</li>
        </ul>
        <label for="txt" class="txt col-sm-12 mar" >
            <input type="text" id="txt" class="col-sm-12" placeholder="请输入栏目名称">
        </label>
        <input-file></input-file>
    </div>
</div>