<div class="wff container-fluid">
    <div class="tab-content">
        <label for="txt" class="txt col-sm-12 mar" >
            <input type="text" id="txt" class="col-sm-12" placeholder="活动列表">
        </label>
    </div>
    <div class="col-sm-12 imgs">
        <div class="col-sm-3 img-box">
            <p class="col-sm-12" ng-click="go()"></p>
            <img src="img/2.png" alt="">
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 img-box">
            <p class="col-sm-12" ng-click="go()"></p>
            <img src="img/3.png" alt="">
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 img-box">
            <p class="col-sm-12" ng-click="go()"></p>
            <img src="img/4.png" alt="">
            <h4>春暖花开社区生日会</h4>
            <h5>2017年3月27日 三鑫社区11号楼2门301</h5>
        </div>
    </div>
</div>