<div class="container-fluid wff col-md-10">
    <div class="tab-content">
        <label for="txt" class="txt col-sm-12" >
            <input type="text" id="txt" class="col-sm-12" placeholder="请输入栏目名称">
        </label>
        <input-file></input-file>
    </div>
</div>
<div class="col-md-2">
    <nav id="navbar-example2" class="navbar nav-side">
        <div class="timeline-wrap clearfix">
            <span class="circle top"></span>
            <span class="circle bottom"></span>
            <ul class="nav navbar-nav time-line">
                <li class=""><a href="#info">基本信息</a></li>
                <li class="active"><a href="#name">请输入栏目名称</a></li>
                <li class="dropdown"><a href="#resident">居民预约</a></li>
            </ul>
        </div>

    </nav>
</div>